<!DOCTYPE html>
<html lang="pt-br">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
	<meta charset="UTF-8">

	<title>Insert title here</title>
	<style>
		.logo-container{
			background-color: #47bcff;
			color: #fff;
		}
		.logo{
			font-family: 'Handlee', cursive;
			font-size: 2.5rem;
		}
	</style>
</head>

<body>

	

	<div class="logo-container mb-3 p-3 d-flex justify-content-between">
		<span class="logo">mudi</span>
		<span class="mt-3">login</span>
	</div>

	<div class="container">
		<div class="container-fluid bg-secondary text-light p-5 mb-3">
			<h1>Novo pedido</h1>
		</div>
		<div class="card" mt-3>
			<form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="POST">
				<div class="mb-3">
					<label for="nomeProduto">Produto</label>
					<input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" name="nomeProduto" id="nomeProduto" placeholder="nome do produto">
					<small>informe qual é o nome do produto</small>
					<div class="invalid-feedback" th:errors="*{nomeProduto}">
						Erro do nome do produto
					</div>
				</div>
				<div class="mb-3">
					<label for="urlProduto">URL</label>
					<input th:field="*{urlProduto}"  th:errorclass="is-invalid" class="form-control" name="urlProduto" id="urlProduto" placeholder="url do produto">
					<small>Procure em um site a url do produto e cole aqui</small>
					<div class="invalid-feedback" th:errors="*{urlProduto}">
						 Erro da url do produto
					</div>
				</div>
				<div class="mb-3">
					<label for="urlImagem">imagem</label>
					<input th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control" name="urlImagem" id="urlImagem" placeholder="url da imagem">
					<small>Copie a url de uma imagem de um produto e cole aqui</small>
					<div class="invalid-feedback" th:errors="*{urlImagem}">
						Erro da url da imagem
					</div>
				</div>
				<div class="mb-3">
					<label for="descricao">descricao</label>
					<textarea th:field="*{descricao}" th:errorclass="is-invalid" class="form-control" name="descricao" id="descricao" placeholder="adicione detalhes importantes para ajudar a localizar um comprador"></textarea>
					<div class="invalid-feedback" th:errors="*{descricao}">
						Erro da descricao
					</div>
				</div>
				<button class="btn btn-primary" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
</body>

</html>